.nav-item{
  margin-left: 3%;
}
.first-link{
  margin-left: 60%;
}
.last-link{
  margin-right: 85%;
}
.login{
  color :#0079FF;
}
.bold-txt{
  font-size: 110px;
  padding-top: 15%;
}
.txt{
  padding-top: 10%;
}
.btnn{
  padding-top: 8%;
}
.btn{
  padding-left: 6%;
}
.face{
  /* display: inline-block; */
  /* padding: 5% 2%; */
  /* width: 50%; */
  /* padding-top: 0%; */
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
/* NOMI */
.face-txt{
  width: 50%;
  display: inline-block;
  padding-top: 0%;
  padding-left: 7%;
  padding-right: 7%;
}
.face-img{
  width: 45%;
  display: inline-block;
}

/* FEATURES */
.features{
  padding: 5% 20% 2%;
  text-align: center;
}
/* .blue-txt{
  color: blue;
} */
h6{
  color: red;
  padding-bottom: 5%;
  padding-top: 7%;
}
h2{
  padding-bottom: 5%;
}
.feature-buttons{
  color: black;
  display: flex;
  justify-content: space-between;
}
.buttonn {
display: inline-block
position: relative;
margin-top: 4%;
padding: 10px 15px;
margin-left: 1%;
background-color: #ccc;
color: #333;
text-decoration:none;
transition: transform 0.3s ease;
}
.buttonn:hover{
  transform: translate(2%,2%);
}
.second{
  padding: 5% 7% 0%;
  /* text-align: center; */
}
.parent{
  width: 100%;
  /* display: inline-block; */
}
.num{
  width: 5%;
  display: inline-block;
}
.captions{
  width: 49%;
  display: inline-block;
  /* color: #ECF9FF; */
}
.third{
  /* width: 100px; */

  background-color: #4942E4;
}
.percent{
  width: 50%;
  display: inline-block;
  text-align: center;
}
.blue-txt{
  width: 49%;
  display: inline-block;
}
.third-btn{
  margin-top: 9%;
}
.partners{
  padding: 0 7% 0;
}
.five{
  width:100%;
  text-align: center;
}
.three{
  text-align: center;
}
.prtnr{
  /* text-align: center; */
  width:13%;
  padding: 2% 6%;
  margin:3%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
  display: inline-block;
  border-radius: 10px;
}
.prtnr:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* FOOTER */
.footer{
  width: 100%;
  padding-left: 7%;

}
.f-company{
  width: 20%;
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
.f-product{
  width: 27%;
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
.f-resources{
  width: 25%;
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
li{
  list-style: none;
}

.link{
  width: 100%;
  display: inline-block;
  text-align: center;
}
.newsletter{
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-left: 7%;
  padding-right: 7%;
}

/* Style the form element with a border around it */
form {
  border: 12px solid #f1f1f1;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 8px;
  background-color: #f1f1f1;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 30%;
  padding: 8px;
  margin: 10px  0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 2px;
  /* display: block; */
}

/* Style the submit button */
input[type=submit] {
  background-color: #4942E4;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
